<div class="app-form" id="new-band-form">
  <%= form_with model: band, local: true do |f| %>
    <%= render_errors(band) %>

    <div class="fields">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="actions button">
      <%= f.submit "Add Band", class: "button", style: 'font-size: 18px; font-weight: 100' %>
    </div>
    
  <% end %>
</div>