<h2 class="body-content-main-header"><%= @band.name %></h2>

<h3 class="body-content-sub-header">Albums</h3>
<div class="content-grid" id="album-index">
  <% @albums.each do |album| %>
      <%= link_to album.name, album_path(album), class: "grid-item content-button", id: "album-link" %>
  <% end %>
</div>

<h3 class="body-content-links-header">Links</h3>
<div class="content-grid resource-links" id="band-links">
  <%= link_to 'Members', band_members_path(@band), class: "button" %>
  <% if current_user.in_the_band?(@band) %>
    <%= link_to 'Invite Members', band_member_add_path(@band), class: "button" %>
  <% end %>
  <%= link_to "Add Album", new_band_album_path(@band), class: "button" %>
  <%= link_to "Delete Band", band_path(@band), class: "button", method: 'delete' %>
  <%# link_to "All Bands", bands_path, class: "button" %>
</div>