<h1>A Cat</h1>

<table>

  <thead>
    <tr>
      <th colspan="2">A Cat</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @cat.name %></td>
    </tr>

    <tr>
      <td>Age</td>
      <td><%= @cat.age %></td>
    </tr>

    <tr>
      <td>Sex</td>
      <td><%= @cat.sex %></td>
    </tr>

    <tr>
      <td>Color</td>
      <td><%= @cat.color %></td>
    </tr>

    <tr>
      <td>Description</td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody>

</table>

<h1>Rental Requests for <%= @cat.name %></h1>

<% @rentals.each do |rental| %>
  <div class="rental_info">
    <p>I'm rented from <%= rental.start_date %> to <%= rental.end_date %> (<%= rental.status %>)</p>
  </div>

  <% if rental.status == 'PENDING' %>
    <div class="rental_button">
      <%= button_to 'Approve', rental_request_approve_url(rental), method: :patch %>
      <%= button_to 'Deny', rental_request_deny_url(rental), method: :patch %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Rent Me!', new_cat_rental_request_path(@cat) %> |
<%= link_to 'Check Availability!', cat_rental_requests_url(@cat), method: :get %> | 
<%= link_to 'Modify', edit_cat_path(@cat) %> | 
<%= link_to 'Murder', cat_path, method: :delete %> | 
<%= link_to 'All Cats', cats_url %>