<h1>A Cat</h1>

<h2>Name: <%= @cat.name %></h2>
<h2>Age: <%= @cat.age %></h2>
<h2>Sex: <%= @cat.sex %></h2>
<h2>Color: <%= @cat.color %></h2>
<p><%= @cat.description %></p>

<%= link_to 'All Cats', cats_url %>