<div class="app-form" id="login-form">
  <%= form_with do %>
    <div class="fields">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>

    <div class="fields">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="actions">
      <%= submit_tag "Submit", class: "button", style: 'font-size: 18px; font-weight: 100' %>
    </div>
  <% end %>
</div>