<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="body-content">
      <div class="body-content-header">
        <h1 class="main-heading">Music App</h1>
        <% unless logging_in? %>
          <div class="header-links">
            <div><%= link_to "Take me homeeee", root_path, class: "button home-button" %></div>
            <div class="session-info">
              <% if user_logged_in? %>
                <div><%= link_to "Logged in as #{@current_user.username}", user_path(@current_user) %></div>
                <div><%= link_to 'Logout', logout_path, method: :delete, class: "button" %></div>
              <% else %>
                <div><%= link_to 'Sign up', new_user_path, class: "button" %></div>
                <div><%= link_to 'Login', login_path, class: "button" %></div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="flash-display">
          <% flash.each do |type, msg| %>
            <div class=notification><%= msg %></div>
          <% end %>
        </div>
      </div>

      <div class="body-content-main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
