<h1>Rental Requests for <%= @subject.name %> (<%= @subject.class.to_s %>)</h1>


<% @rentals.each do |rental| %>
  <div class="rental_info">
    <% if @subject.class == Cat %>
      <p>I'm rented from <%= rental.start_date %> to <%= rental.end_date %> (<%= rental.status %>)</p>
    <% else %>
      <p>I'm requesting from <%= rental.start_date %> to <%= rental.end_date %> (<%= rental.status %>)</p>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', "/#{@subject.class.to_s.downcase.pluralize}/#{@subject.id}" %> | <%= link_to 'All Cats', cats_path %>