<div class="cats_form">
  
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <%= form_tag '/login' do %>
    <fieldset>
      <legend>Please Log In</legend>    

      <div class="field">
        <%= label_tag :name, "Name:" %>
        <%= text_field_tag :name, params[:name] %>
      </div>

      <div class="field">
        <%= label_tag :email, "Email" %>
        <%= text_field_tag :email, params[:email] %>
      </div>

      <div class="actions">
        <%= submit_tag "Login" %>
      </div>
    </fieldset>
  <% end %>

  <%# link_to 'Forgot Password?', forgot_password_users_path %>
  <%# link_to 'Add Admin', new_user_url %>
  <%= link_to 'Cancel', root_path %>
  
</div>